@model ManageUsersViewModel

@{
    ViewData["Title"] = "Manage users";
}

<h2>@ViewData["Title"]</h2>

<h3>Administrators</h3>

<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Email</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    @foreach (AppUser admin in Model.Administrators)
    {
        <tr>
            <td>@admin.Id</td>
            <td>@admin.Email</td>
            <td>
                <form asp-action="RemoveUser" method="post">
                    <input type="hidden" name="id" value="@admin.Id"/>
                    <button>X</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<h3>Everyone</h3>

<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Email</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    @foreach (AppUser user in Model.Everyone)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>
                <form asp-action="RemoveUser" method="post">
                    <input type="hidden" name="id" value="@user.Id"/>
                    <button>X</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>